version: "3.8"
services:
  frontend-1:
    build:
      context: ./Front-end/Plataforma
      dockerfile: Dockerfile.frontend
      args:
        BUILD_MODE: dev
    container_name: sf-frontend-1
    restart: always
    environment:
      - SERVER_ID=Frontend-A
    networks:
      safestock-network:
        aliases:
          - sf-frontend-1

  frontend-2:
    build:
      context: ./Front-end/Plataforma
      dockerfile: Dockerfile.frontend
      args:
        BUILD_MODE: dev
    container_name: sf-frontend-2
    restart: always
    environment:
      - SERVER_ID=Frontend-B
    networks:
      safestock-network:
        aliases:
          - sf-frontend-2

  loadbalancer:
    build:
      context: .
      dockerfile: Dockerfile.loadbalancer
    container_name: sf-lb
    restart: always
    ports:
      - "8080:80"
      - "5173:80"
    depends_on:
      frontend-1:
        condition: service_started
      frontend-2:
        condition: service_started
    networks:
      - safestock-network

networks:
  safestock-network:
    driver: bridge
